body {
  background-color: #E5E5E5;
  font-family: 'DM Sans';
}

.head{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.logo {
  font-family: 'Allerta Stencil';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 40px;
margin-right: auto;
}

.logo a {
  text-decoration: none;
  color: black;
}
.logo a:hover {
  color: #000000;
}

.headerPages{
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}
.headerPages a{
  margin-left: 64px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #000000;
}
.headerPages a:hover{
  font-weight: 600;
  color: #000000;
}

.header-icons img{
  width: 19px;
  height: 19px;
  margin-left: 39px;
}

.vr{
  margin-left: 48px;
}

.footerLinks {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  display: flex;
  flex-direction: row;
  align-items: end;
}

.footerLinks a {
  margin-right: 64px;
  text-decoration: none;
  color: #707070;
}

.footerLinks a:hover{
  font-weight: 600;
  color: #000000;
}
.subscribeInput{
  position: relative;
  left: 26px;
}
.subscribeInput input{
  border: none;
  border-bottom: 1px solid;
  width: 400px;
  padding: 13px;
  outline: 0;
}

.subscribeInput .arrowRight {
  font-size: 30px;
  float: right;
  position: relative;
  color: #707070;
  right: 26px;
  text-decoration: none;
}

.footer{
  color: #707070;
}
.footer b{
  color:#000000;
}

.footerIcons a{ 
  width: 19px;
  height: 19px;
  margin-right: 39px;
}

.layout {
  margin: 5vh 7vw;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100rem;
  font-family: "DM Sans";
}

.outletLayout{
  margin: 8vh 0;
}

.productsListPage{
  display: block;
  font-family: 'DM Sans';
  font-style: normal;
}

.productsListPage > :first-child {
  margin-bottom: 5%;
}

.productsListPage span {
  font-weight: 500;
  font-size: 33px;
  line-height: 43px;
  color: #000000;
}

.viewAll{
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #A18A68;
  align-self: end;
}
.viewAll:hover{
  font-weight: 600;
  color: #A18A68;
}
.productCard{
  text-align: center;
  border-radius: 8px;
  margin-bottom: 8%;
  border: none;
}

.productCard img{
  width: 400px;
  height: 400px;
}

.productCard p{
  margin-bottom: 0;
}

.productCard:hover{
  background: rgba(255, 255, 255, 0.6);
border-radius: 4px 4px 0px 0px;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.cardTitle {
  text-align: start;
  font-weight: 400;
font-size: 20px;
line-height: 26px;
color: #000000;
}

.cardPrice {
  text-align: start;
  font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
text-transform: capitalize;
color: #A18A68;
}

.imgDetail{
  display: flex;
  flex-direction: row;
}

.extraImgs{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.extraImgs img{
  width: 120px;
  height: 120px;
  border-radius: 8px;
}

.currentImg img{
  margin-inline: 5%;
  width: 540px;
  height: 600px;
}

.productDetails{
  display: flex;
  align-content: space-between;
  font-family: "DM Sans";
  font-style: normal;
}

.productInfo{
  margin-left: 5rem;
}

.productInfoTitle{
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
}

.productInfoDiscription{
font-weight: 400;
font-size: 16px;
line-height: 27px;
color: #707070;
}

.cartCounter{
  display: flex;
  justify-content: space-between;
  background: #EFEFEF;
border-radius: 4px;
width: 100px;
height: 53px;

}

.cartCounter input{
  border: none;
  width: 60%;
  text-align: center;
  background: #EFEFEF;
  color: #707070;
  align-self: center;
  font-weight: 400;
font-size: 16px;
line-height: 27px
}

.cartCounter button{
  border-radius: 4px;
  border: none;
  color: #707070;
}

.addToCart{
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.addToCart >  button{
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 4px;
  width: 360px;
  height: 53px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.infoIconsBar{
  margin-block: 82px;
  height: 30px;
}

.infoIconsBar img{
  width: 25px;
  height: 25px;
}

.infoIconsBar .vr{
  margin: 0 25px 0 10%;
  height: inherit;
  vertical-align: middle;
}
.infoIconsBar a:not(:first-child) {
    margin-left: 6%;
}

.infoCategory{
  margin-top: 40px;
}
.infoCategory p{
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #707070;
}

.infoCategory b{
  margin-right: 2rem;
  color: #000000;
}

.detailTab {
  margin-top: 5rem;
}

.underLine{
  position: absolute;
  bottom: 1%;
  height: 2px;
  background: #000000;
  transition: all ease 0.2s;
}

.tab-item{
  flex-grow: 1;
  display: block;
  padding: 1rem;
  text-decoration: none;
  font-size: 20px;
}

.similarItems{
  margin-top: 5rem;
}

.similarItems p {
  font-weight: 400;
font-size: 26px;
line-height: 35px;
}